[2013-09-26 09:31] netroy opened #4 "v0.2.0"
From #2
- [x] add buffer support without breaking the API

From #3
- [x] match the code style
- [x] fix the specs
- [x] move the detection code to where it belongs.
- [x] remove the license/copyright info from jpg.js
- [x] Add a MIT license file
- [x] Add a contributors section to the readme including your name

Others
- [x] handle a dozen type of jpeg formats
- [x] get sidekickjs debt down to zer

[2013-10-06 17:59] andreyvolokitin opened #5 "TypeError: invalid jpg"
I have a bunch of .jpg images which I saved from Photoshop CS6. But for all of them I get this error, so I can’t process them. When I tried to process sample image from repository - it worked.

[2013-10-11 05:12] #5 closed, assigned to nobody

[2013-11-19 20:35] peterjwest opened #9 "Files never closed, leading to Error: EMFILE, too many open files"
I'm getting a bug on OS X: `Error: EMFILE, too many open files` after the server runs for a while.
It looks like you need to close files after reading from them:

[code]

[2013-11-20 11:46] #9 closed, assigned to netroy

[2014-01-16 23:21] snit-ram opened #12 "Getting "unsupported file type" error on valid images"
When trying to get size information from the attached image. I'm getting an  "unsupported file type" error.

If it's relevant, I've downloaded this image from my facebook album. I'm getting the same error with other facebook images.

![1472743_634450849946235_659823690_n](https://f.cloud.github.com/assets/433846/1936129/4de46aaa-7f04-11e3-8cc9-663a00693bee.jpg)

[2014-01-22 22:48] #12 closed, assigned to nobody

[2014-01-22 23:06] #4 closed, assigned to netroy

[2014-01-24 16:15] nizaroni opened #15 "Sizing up remote Web images"
Have you ever thought of allowing a URLs of remote images in addition to paths to local ones? Would you accept a pull request or do you picture that (pun intended) as a different module all together?

[code]

[2014-03-11 00:26] #15 closed, assigned to nobody

[2014-03-26 08:43] guileen opened #16 "Should not throw error if callback provide"
function `lookup` throws error, but the `image-size` module could use callbak, if callback provide, `lookup` should callback the errors instead of throw it.

You can test on any unsupported files with a callback function.

[2014-03-26 17:23] netroy opened #17 "don't throw if a callback was passed"
- [x] unsupported files
- [x] file-system errors

[2014-03-26 17:27] #16 closed, assigned to nobody

[2014-04-11 10:37] markstos opened #19 "wish: add support file streams an input type."
Hello,

Thanks for this module.

I would be interested in having support file streams, so that the validation can be completed even before a larger image has finished uploading.

[2014-04-26 04:11] jonathanong opened #20 "browser support?"
can i use this via browserify or something and use array buffers and such??

[2014-05-09 09:06] spacea23 opened #21 "Getting "unsupported file type" error on valid images"
When trying to get size information from the attached image. I'm getting an "unsupported file type" error.

![1](https://cloud.githubusercontent.com/assets/3982239/2926198/3d376b8c-d759-11e3-9e22-e3c9423558c7.jpg)

[2014-05-09 09:17] #20 closed, assigned to nobody

[2014-05-10 22:38] #21 closed, assigned to nobody

[2014-06-09 14:13] #17 closed, assigned to nobody

[2014-06-09 14:16] #19 closed, assigned to nobody

[2014-06-17 00:43] kof opened #24 "A better api for this module"
would be a streaming interface, which fires a 'dimension' or 'size' event when it was able to detect the size and stops piping from the readable stream.

This way I don't need to guess how much of the file should I download and it will always download the minimum, so faster per default.

[2014-07-11 05:04] sdrobs opened #26 ""Unsupported file type" thrown on valid image"
Thrown on the following image: http://i.imgur.com/A20aSMb.jpg

[2014-07-11 13:36] #26 closed, assigned to nobody

[2014-07-14 11:10] shandyba opened #28 ""Unsupported file type" for certain jpegs"
Hi,

today I spotted a number of jpegs causing this problem (with image-size ver. 0.3.1) , e.g.:
http://img.naij.com/n/09/5/messisssss.jpg
http://img.naij.com/sports/0a/5/brazuca_messi.jpg

Will appriciate your help or advise.
Thanks.

[2014-07-15 13:40] #24 closed, assigned to nobody

[2014-07-15 13:54] #28 closed, assigned to nobody

[2014-07-17 15:35] kof opened #29 "image type detection as public api"
Just got a task to filter out gif images. This lib is actually the perfect fit for this, it just looks like its not public.

[2014-07-17 15:49] #29 closed, assigned to nobody

[2014-09-13 13:50] shinnn opened #30 "Release v0.4.0"
http://semver.org/

[Including image type in the result](https://github.com/netroy/image-size/commit/a209fc45043be54c090749c357ffbe7cf4adde88) is not a bug fix but a new functionality.

You should release v0.4.0.

[2014-10-02 12:16] Benny- opened #31 "SVG support"

[2014-10-13 07:20] rogerdielrton opened #32 "Documentation improvement about "stop downloading the image after a few kilobytes""
Hello.
In "usage" doc, when you say:
   "You can optionally check the buffer lengths & stop downloading the image after
   a few kilobytes. You don't need to download the entire image"
Could you be most explicit about how many (minimum) kb per file type is required to
detect image dimensions?
Could you update the documentation, with that info and an example?
Thanks in advance.

[2014-10-16 21:26] #31 closed, assigned to netroy

[2014-10-17 01:52] #30 closed, assigned to nobody

[2014-10-20 06:11] peecky opened #34 "MaxBufferSize is not enough."
Hello.

I got an error, `TypeError: Corrupt JPG, exceeded buffer limits`, when I use image-size with an JPEG image file. But when I increase the `MaxBufferSize` in `lib/index.js`, it works well.

Could you increase the `MaxBufferSize`?

What I changed to test:
`var MaxBufferSize = 128*1024 * 100;`

This is the sample file: https://www.dropbox.com/s/qvat156gv0nq13b/b95ff27a4b146a0b95cb4d5f58189c4f.

[2014-11-12 16:26] F1LT3R opened #35 "Request HTTPS support"
I get this when using an HTTPS link:

[code]

[2014-11-12 17:38] #35 closed, assigned to nobody

[2015-01-13 09:41] ktiniatros opened #37 "[TypeError: Corrupt JPG, exceeded buffer limits]"
Trying to calculate the following image throws an exception:

    var imagesize = require("image-size");
    var url = "http://www.niemanlab.org/images/renewalinvoice.jpg";
    var needle = require('needle');

    var stream = needle.get(url);
    stream.on('readable', function( ) {
    	var chunk;
    	while( chunk = this.read() ) {
    		info = imagesize(chunk);
    		if( info ) {
    			stream.

[2015-01-13 14:49] netroy commented on #37
@ktiniatros the 2 problems with this code are
1. `imagesize(chunk)` throws for bad data, you need to catch that error.
2. `this.read()` from `needle` would give you a chunk read from the stream, not all of the data in the stream since the beginning, so you are only passing in parts of the file, while what you really need to pass is a buffer containing everything from the beginning.

[2015-01-13 15:37] ktiniatros commented on #37
OK, got it now..

following your feedback, I fixed my code:

    var totalChunk;
    var length = 0;
    stream.on('data', function( c ) {
    	length += c.length;
   	var newBuffer = new Buffer(length);
    	if(!totalChunk){
    		totalChunk = new Buffer(c.length);
    		c.copy(totalChunk, 0);
    	}
    	totalChunk.copy(newBuffer, 0);
    	totalChunk = newBuffer;
    	try {
    		info = imagesiz

[2015-01-27 18:59] kyleolsondesign opened #38 "Fails on SVG assets without `width` and `height` properties"
Using a tool like Adobe Illustrator to create SVG assets, you get output that does not include `width` or `height` properties. Here is a sample of that output, after being compressed with [imagemin](https://github.com/imagemin/imagemin):

[code]

Running through the w3c validator, this is valid SVG 1.1.

But when I run through `sizeOf`, I get the following error:

If I manually add the `width` and

[2015-02-21 01:50] borodean commented on #38
@kyleolsondesign would be fixed when https://github.com/netroy/image-size/pull/36 is merged.

[2015-02-22 11:53] whitecolor opened #39 "Consider using static require dependencies"
There is an issue when using the package with https://github.com/jspm (sytemjs)
https://github.com/jspm/registry/issues/221

this code uses dynamic requires
https://github.com/netroy/image-size/blob/master/lib/index.js#L6-L15

and https://github.com/systemjs/systemjs can not handle it.

Actually it is importaint as `image-size` is used with css precompilers (such as LESS) and they have to be used

[2015-03-02 10:19] oliverfoster commented on #34
+1

[2015-03-06 16:21] chrisronline opened #42 "Expose supported file types"
Be nice to have a method that lists them so we can avoid a try/catch. PR coming

[2015-03-12 14:44] sixmen opened #44 "Support JFIF extension (JFXX) segment format"
Format: http://en.wikipedia.org/wiki/JPEG_File_Interchange_Format#JFIF_extension_.28JFXX.29_segment_format

Example file: http://www.ofvalue.co.kr/web/product/medium/201503/969_shop1_197963.jpg

[2015-04-10 19:07] nickjuntilla commented on #34
Increasing this buffer size by default just like this would be a great temporary fix.

[2015-05-13 17:09] jspenc72 commented on #32
Please do improve documentation for this.

[2015-05-25 12:08] caillou opened #47 "Returns wrong dimension for a given BMP"
The following BMP is 300x200: [300x200.bmp](https://dl.dropboxusercontent.com/u/1902254/tmp/300x200.bmp)

Yet, image-size returns the following:

[code]

[2015-06-06 17:09] kasbah opened #49 "Use float for width and height"
If you have an [SVG using non-px units](http://kaspar.h1x.com/inches.svg) you will get pretty severe rounding errors. This is especially annoying if you are trying to determine the aspect ratio.

[2015-06-24 03:52] techbirds commented on #37
![10](https://cloud.githubusercontent.com/assets/3411696/8322413/50d6d48c-1a67-11e5-820f-2ad9c220252a.JPG)

var sizeOf = require('./lib/index');

var dimensions = sizeOf('xxx.JPG');
console.log(dimensions.width, dimensions.height);

error:
TypeError: Corrupt JPG, exceeded buffer limits

[2015-07-20 21:26] mdmoreau commented on #38
Any updates on this?  Would be great to get it added in.

[2015-07-29 06:52] kurijov commented on #32
+1

[2015-07-30 17:28] aleemb opened #51 "Use in browser context"
Would be nice to use this in the browser context, which right now fails due to `fs` requirement not being met in the browser.

I am trying to use it with webpack. I could use `image.onload` but that loads the entire image versus just sniffing the image headers from the first couple of bytes without loading the entire image.

[2015-08-02 23:57] rauschma commented on #32
Two ideas come to mind:

* A constant that tells you how much data is enough for *all* image formats to determine the dimensions.
* A function that checks whether enough data has already been loaded.

[2015-08-06 17:08] hyprstack opened #52 "Fails build on travis - cannot find module."
I have created a docker image using this module, and when I run the code in a ubuntu docker container, it complains that it cannot find the module. The same happens when it is run directly on a linux machine.

Do you have any idea why it cannot find the module although it is in the package.json file?

The error output is :
 `Error: Cannot find module 'image-size'
   at Function.Module._resolveFile

[2015-08-06 17:17] #52 closed

[2015-09-03 21:40] andressrg commented on #32
@rogerdielrton [http-image-size](https://github.com/jo/http-image-size) does what you want to accomplish.

It even uses image-size.

[2015-09-06 06:39] as77c opened #54 "sizeOf async version crash!"
sizeOf crash when i submit corrupted file such as changing the extension of exe and make it jpg. It gives the following error
![error](https://cloud.githubusercontent.com/assets/6859615/9702936/ff4e8eb8-547a-11e5-8715-19873333b486.png)

It would be much nicer if it returns an error instead of crashing the hole thing :)

Thanks

[2015-09-16 07:48] paldepind commented on #37
I encountered this error as well on a quite small jpeg that seemed perfectly fine. I tested out GraphicsMagick as recommended in [this SO answer](http://stackoverflow.com/questions/12539918/get-the-width-and-height-of-an-image-in-node-js). It returned the size correctly without errors for the given file.

[2015-09-25 11:23] alexmatveev commented on #54
+1

[2015-09-29 22:02] rlee1121 commented on #38
+1

[2015-10-06 14:02] tiroxis commented on #38
+1

[2015-10-15 10:38] derwaldgeist commented on #32
+1
Also would like to see that, since performance improvement is important. My use-case is to detect the 5 largest images in a page, so I do not need the image content.

[2015-10-15 10:51] derwaldgeist commented on #32
@rogerdielrton Well, this implementation just relies on the first chunk to contain all relevant data. The question still is: is this sufficient in every case?

[2015-10-15 12:03] Alino commented on #32
+1

[2015-10-16 04:22] puzrin commented on #32
https://github.com/nodeca/probe-image-size - it's specially designed to download only the necessary part of image.

[2015-11-11 16:29] AlastairTaft commented on #32
+1

[2015-11-23 08:48] netroy opened #58 "Transfering the ownership of this project"
Unfortunately, I don't have the time or the energy to participate in this project anymore, so I'm looking for people who'd like to take over this project.
I've already moved the project to an independent organisation & added some previous contributors to this organisation.

I've also added @zeke as an owner on github, as well as on npm.

My deepest apologies for not being available for a long time

[2015-11-23 09:15] shinnn commented on #51
Duplicate of https://github.com/image-size/image-size/issues/20. On browser you can use `window.Image` instead.

[2015-11-23 09:15] #51 closed

[2015-11-23 10:20] LinusU commented on #58
I would love to help out! I'm `linusu` on npm.

[2015-11-23 10:48] #42 closed

[2015-11-23 10:48] shinnn commented on #42
Thanks for the contribution. Fixed in https://github.com/image-size/image-size/commit/0061e5fbe135de9a9fbfb6d63d33a258d2b455f1.

[2015-11-23 10:49] shinnn commented on #42
Reminder: this change requires minor version bump.

[2015-11-23 12:00] borodean commented on #58
Sorry, I've already switched to using [calipers](https://github.com/lob/calipers) and contributing to it.

However, I'd love to help to merge https://github.com/image-size/image-size/pull/36 because of my legacy customers.

[2015-11-23 14:49] shinnn commented on #44
Fixed in https://github.com/image-size/image-size/pull/50.

[2015-11-23 14:49] #44 closed

[2015-11-23 14:50] shinnn commented on #38
#36 is merged.

[2015-11-23 14:50] #38 closed

[2015-11-23 17:23] zeke commented on #58
Thanks for the update, @netroy. It looks like @shinnn is already doing an awesome job cleaning house. :)

[2015-11-23 17:23] #58 closed

[2015-11-23 18:08] shinnn commented on #58
Wow, nice organization icon! https://github.com/image-size Who did it?

[2015-11-23 18:44] zeke commented on #58
twas me :)

[2015-11-23 19:12] shinnn commented on #58
@zeke :clap:

[2015-11-23 21:12] borodean commented on #58
:+1:

[2015-11-28 23:44] aeosynth opened #61 "support promises"
i'd like to use this asynchronously with promises, instead of the nodejs style callback. currently i'm manually promisifying the async version.

[2015-12-02 20:44] GuillaumeLeclerc opened #62 "browser support (again)"
Hello,

Sorry to ask again for browser support but the solution you suggested (`new Image ...`) does not work in web workers.

There are libraries compatibles such as png.js and jpg.js but I could not find a way to get the size of a picture.

Best,

Guillaume Leclerc

[2015-12-08 21:31] Alino commented on #54
+1

[2015-12-16 08:22] micky2be commented on #62
I would love browser support too please.
I'm dealing with buffers on the frontend.
The only thing stopping me from using this module here is the 'fs' dependency.

[2015-12-18 22:12] kbradl16 commented on #37
FYI I had this error as well, but I found out it was because the images I was using were saved as CMYK file type instead of RGB. Once I changed the images to RGB the script worked.

[2016-01-02 16:20] Pomax opened #64 "SVG dimensions get (wrongly) rounded"
I tried using `image-size` with SVG files that specify their dimensions in `ex` units, such as:
[code]
but the dimensions get reported as being width `69` and height `2`, with the rather important decimal fraction part removed. For bitmap images this makes sense, but for SVG this means the dimensions are very wrong and cannot be relied upon.

Worth not rounding dims for vector format images?

[2016-01-09 20:58] Coobers opened #65 "No support for webp VP8X format"
Webp files in extended format will return false in method calculate in lib/types/webp.js.
It's chunkHeader is VP8X.
Details: https://developers.google.com/speed/webp/docs/riff_container#extended_file_format

This is quite severe since all 3 webp formats are interchangeable and parsing properly in browsers.

[2016-01-10 01:45] shinnn commented on #65
PR welcome.

[2016-01-12 05:26] Hyperblaster commented on #54
Yeah, Async does not work for me at all.

[2016-01-23 08:51] yangsibai commented on #37
Have the same error, I think we should use `gm` before it's fixed.

[2016-01-27 14:05] ajarbol commented on #34
+1

[2016-01-29 18:52] mdmoreau commented on #64
Running into this same issue when getting SVG dimensions from the width/height and viewbox.  For SVGs it seems like you'd definitely not want to round the values at all.

[2016-01-29 19:29] Pomax commented on #64
I've filed https://github.com/image-size/image-size/pull/67, hopefully @LinusU, @netroy, @shinnn, or @zeke can merge that in soon.

[2016-02-04 09:49] wahengchang opened #68 "Url becomes Local path"
I have got problem that given a URL of an image, but the url turns to local path in sizeOf( )

============================================
==================     my code     ===============
============================================
	var imgUrl = 'https://abe/photo.jpg';
	sizeOf(imgUrl, function(err, dimensions, length) {
	  console.log(err, dimensions, length);
	});

==========================

[2016-02-04 09:51] shinnn commented on #68
That's an expected behavior. The first argument doesn't accept URL.

[2016-02-04 09:51] #68 closed

[2016-02-04 15:43] pawlufelice commented on #39
This is a problem for me too!! I have browserify on an express app and the dynamic requires just to not get bundled, resulting in `module not found`. Please have them changed to static. Thanks

[2016-02-05 14:46] wahengchang commented on #68
hey shinnn , thanks for you reply,  is there a way that I can check the size of image from URL

[2016-02-05 14:49] shinnn commented on #68
https://github.com/image-size/image-size/tree/e67273e812682b4aa8679bd3cd58a037c9a60833#using-a-url

[2016-03-15 23:03] felipelvira opened #70 "Catch 'Corrupt JPG, exceeded buffer limits'"
Hi,
Currently i'm developing a node js application to upload files to AWS.
I'm using a buffer to get the width and height of an image using `sizeOf(file.buffer)`. Some files may be corrupted or damaged, for this scenario  i want to set the height and width to zero.

How can i catch the `TypeError` before my application fail?
Thanks.

[2016-03-22 22:50] Ayysir opened #72 "Adding quotes around Height and Width values"
Im developing an android application and Json parser class i am using will not see values because they are not put into quotation marks

[2016-03-22 23:16] zeke commented on #72
If you need your values to be strings, just cast them to strings:

[code]

[2016-03-22 23:16] #72 closed

[2016-03-22 23:23] Ayysir commented on #72
@zeke
this is how i am doing it

`var sizeOf = require('image-size');
      var dimensions = sizeOf(fileDir + fileName);`

filedir and filename are already defined variable. cow can i cast it in that code?

[2016-03-22 23:40] Ayysir commented on #72
I cant cant cast height and width values to strings....

[2016-03-23 00:11] zeke commented on #72
[code]

[2016-03-23 00:26] Ayysir commented on #72
@zeke  thank you very much, sorry to be PITA lol. Learned something new today

[2016-03-23 00:56] zeke commented on #72
No problem @Ayysir!

[2016-04-01 06:58] huyinghuan commented on #34
+ 1

[2016-04-01 14:50] zeke commented on #34
In the comment above the MaxBufferSize setting:

[code]

I'd be happy to quickly patch this by increasing the buffer size, but I'd be curious to hear from @netroy why or how the buffer size should be adaptive? Is it to prevent excessive memory allocation?

[2016-04-02 17:50] puzrin commented on #34
@zeke, you will deal with such "adaptive" kludges forever, until add true streaming support.

See https://github.com/nodeca/probe-image-size. We did it because this package was not supported for a long time. Feel free to reuse as you wish.

[2016-04-02 18:43] oliverfoster commented on #34
Thanks for that link @puzrin

[2016-04-02 18:52] puzrin commented on #34
@oliverfoster if you plan to use that package, note that it has no SVG support (dropped until someone has time to do it well). From the over hand, there are no such bugs as here :)

[2016-04-02 18:58] oliverfoster commented on #34
Cool. Isn't the whole point of svg that they have no defined size?

[2016-04-02 19:07] puzrin commented on #34
SVG can be with and without size. Problem is how to terminate early - how to decide with good confidence that image is NOT svg.

Input data is broadcasted to streaming decoders, and then we wait until all decoders fail or someone return good result. All decoders should terminate as early as possible, to minimize reading from input stream.

[2016-04-02 20:53] oliverfoster commented on #34
I didn't realise you could size them. Cool. In that case I guess you wouldnt really me able to tell the size unless you had at least all of the opening tags and the last one might be right before the end. The XML document format isn't really good for that case as it doesn't really have a header. Might just be better to parse the whole thing as an exception?

[2016-04-02 21:11] puzrin commented on #34
IMHO that would be the same crap like buffer size tune :)

Quick-check can test that data begins with `<`. Then it's possible to push reencoded chunks to something like `sax` (streaming parser). Everything can be done well, without reading full content. Someone just need to spend time to do things right :)

[2016-04-02 21:13] oliverfoster commented on #34
I look forward to seeing it when it's done. Sounds like I could learn a thing of two.

[2016-04-04 09:51] holm commented on #37
We ran into the same problem with a CMYK JPG file. Having support for CMYK files would be great (or at least throw an error saying CMYK is not supported).

[2016-04-07 22:50] apocist commented on #70
I have used a try catch to success catch the error before continuing:
[code]

This may be a duplicate of #37

[2016-04-07 22:52] apocist commented on #37
I'm also getting the 'Corrupt JPG, exceeded buffer limits' error on CMYK JPG files.

However, if the file is resized to be small enough(<150px) the error no longer appears.

[2016-04-14 20:52] puzrin commented on #64
@Pomax @mdmoreau could you comment SVG use cases? I'm designing SVG support API, and not sure that mixing floats & ints is good idea https://github.com/nodeca/probe-image-size/issues/4.

- usually people expect that dimentions are integer (people who work with pixels don't expect SVG vectors at all)
- not clear what to do with dimentions units

Mixin everything into existing properties can require

[2016-04-14 21:01] Pomax commented on #64
If you work with SVG, you will *always* run into this. Tons of SVG tools like inkscape, Sketch, etc. will throw SVG exports at you with decimal values.

- No they don't, not when they work with SVG =)
- Pretty easy: keep the dimensions.

As for the proposed solutions:

1. this sounds like a bad idea, because SVG is just another image format. Its fractional width and height as just as legal as fixe

[2016-04-14 21:23] puzrin commented on #64
I've seen your commit, and asked questions after that.

1. You PR makes api good for you, but less comfortable for those who don't use SVG (but can have it on input by accident). Because result type can vary. I mean, good api should be convenient for all, and tried to suggest those. May be you have better ideas?
2. In your PR dimentions units data (px/pt/em/ex) is still lost. Looks suspicious & ca

[2016-04-14 21:24] mdmoreau commented on #64
I think the distinction is what @Pomax mentioned initially - bitmap images will always be integers while SVGs are designed to use integers and/or decimals.  Not supporting decimals ignores a pretty core feature of the SVG format in my opinion, especially since rounding will negatively impact most SVGs.

My primary use case involves using the dimensions to build a responsive container for an SVG im

[2016-04-14 21:33] puzrin commented on #64
@mdmoreau I agree, if use-case is "keep aspect ratio", then units are not needed. Need to understand if there are other cases, where lack of units can become a problem.

My case is post-processing images at forum posts, to define width/height and avoid reflows on page load. But we don't care much about SVG insert.

[2016-04-14 21:37] Pomax commented on #64
@puzrin the change does not affect processing of integer values, as `parseFloat` and `parseInt` yield the same results on integer inputs (up to 2^53, which is essentially irrelevant because current bitmap formats can't encode images with dimensions of that magnitude). The code behaviour of this library will not change as far as bitmap images are concerned with this fix.

As for 2, losing the unit

[2016-04-14 22:00] puzrin commented on #64
@Pomax if we speak about existing `image-size` library - no question, your change will not break compatibility. Because you can say that SVG can be detected with invalid units.

 If we speak about `probe-image-size` - it's supposed to give correct result (because have no SVG support and no related problems). But i'm not sure that allowing bad units is good idea.

What do you think about adding pro

[2016-04-14 22:36] Pomax commented on #64
I don't use that library, so my main concern is to fix this issue, for this library, in a way that is backward compatible. Given that it is, any library that relies on this one will not be impacted and any additional work that happens specifically in dependents is honestly something to discuss on their repos, not something that should hold up progress in this library.

[2016-04-28 19:04] digitalmc opened #73 "unsupported file type: undefined (file: undefined)"
I get the following error when I try to get the image size of select images:

`unsupported file type: undefined (file: undefined)`

Below are a list of two of the image in question:
- http://jampac.us/wp-content/uploads/2016/04/house_on_fire_benie_sanders.jpg
- http://coffeeshopspanish.com/css-assets/uploads/2016/04/coffee_shop_spanish_new_logo_124x100.png

Most other images work. To note these ar

[2016-05-03 13:25] TrejGun opened #75 "example request"
Please add an example of how to check size of image uploaded via express.js

[2016-05-03 23:12] shinnn commented on #75
http://stackoverflow.com is the better place for this kind of requests.

[2016-05-03 23:12] #75 closed

[2016-05-09 08:59] jonaswindey opened #76 "iPhone picture rotation"
When detecting the size of an iPhone (6) image, it always returns 3264 x 2448, even when it's a portrait image.

It should understand the orient information from the Exif data.

[2016-06-02 12:07] TrejGun commented on #75
@shinnn really?
this lib is not so popular to be even mentioned on SO
and won't be unless it has examples of how to use it with frameworks
so please add it

[2016-06-02 12:23] shinnn commented on #75
You don't need to care about the popularity of this project.

[2016-06-22 07:53] TrejGun commented on #75
@shinnn oh i'm so sorry that opensource community is bugging you - do this, do that. may be its better to make project private so nobody will bother you.

[2016-06-22 20:49] zeke commented on #75
This issue is going off the rails, so I'm going to lock it down.

[2016-06-25 05:20] puzrin commented on #64
SVG support is now available in https://github.com/nodeca/probe-image-size. With floats, units info etc.

[2016-06-26 03:59] zeke commented on #64
That's awesome, @puzrin 👏

You might want to update the GitHub repo description to mention SVG:

<img width="809" alt="screen shot 2016-06-25 at 8 58 47 pm" src="https://cloud.githubusercontent.com/assets/2289/16360428/a7f29ed2-3b17-11e6-90c9-b551f9589761.png">

[2016-06-26 05:10] puzrin commented on #76
That should be some kind of option (or result daya), because depends on orientation flag, responsible for representation. If you need real value for resize, coords swap will be a problem.

[2016-06-26 05:31] puzrin commented on #64
@zeke thanks, updated :) . I hope code quality is high, but still interested in massive feedback.

[2016-06-27 19:19] Pomax commented on #64
nice @puzrin!

[2016-07-24 20:16] bahmutov opened #77 "Maybe publish new release?"
With my change (that you have already merged) 45badb9 ?
Or setup semantic release https://github.com/semantic-release/semantic-release to publish
automatically

[2016-08-04 15:26] jlongie opened #78 "JPEG vs JPG in content type"
Hi,

Just wondering what the best approach is to resolve this issue:

We have images that are being uploaded and the content type is being set as image/jpeg but your valid types only include jpg. Should I create a pull request to add this type with additional test cases?

Thanks.

John

[2016-08-28 09:45] t1maccapp commented on #54
There is a checking if input is buffer before checking if callback is a function in index.js file. So, async won't work for buffer input.
![image](https://cloud.githubusercontent.com/assets/8779881/18032894/ffc3b856-6d2d-11e6-84b2-c4746d134152.png)

[2016-10-17 04:31] ChenJiaH commented on #37
I'm also getting the 'Corrupt JPG, exceeded buffer limits' error and the file is saved as RGB type.
But it's worked when I take it out alone.

[2016-10-18 04:53] jinzhubaofu commented on #73
+1

[2016-10-20 14:55] Anaphase commented on #37
+1

[2016-10-26 14:29] mhulse commented on #76
Not sure if it is of help, but I use [`jhead`](http://www.sentex.net/~mwandel/jhead/) to fix orientation before processing:

[code]

[2016-10-27 17:24] skyserpent commented on #73
+1

[2016-11-18 05:54] influxa opened #81 "cannot find module ./types/bmp in a Meteor project"
Hello. Trying to use this package in a Meteor js project.

But I'm getting the error:
cannot find module ./types/bmp

How do I get this resolved? Many thanks in advance.

[2016-11-25 14:08] vteremasov opened #82 "Support for .ico"
As long as [webpack-favicon-plugin](https://www.npmjs.com/package/favicons-webpack-plugin) uses image-size could you add support for `.ico` format?

Now when I try to run with favicon.ico get
`node_modules/image-size/lib/index.js:34
  throw new TypeError('unsupported file type');
`

[2016-11-25 14:34] LinusU commented on #82
That would be very nice, PR welcome 🙌

[2016-12-01 16:26] puzrin commented on #82
@vteremasov what output do you expect if icon contains multiple sizes?

[2016-12-01 17:42] puzrin commented on #37
try https://github.com/nodeca/probe-image-size, it works with examples from this thread

[2016-12-06 13:28] vteremasov commented on #82
@puzrin Agree, issue should be solved somehow else

[2016-12-07 11:29] nullne commented on #65
Yes, I met this problem too. do you @Coobers  have any solutions ?

[2016-12-07 12:20] Coobers commented on #65
Can you send me your vp8x image file?
I can try to recreate fix, but I have no test images with me at the moment ;)

[2016-12-08 02:00] nullne commented on #65
I cannot upload that file here which is not supported by GitHub.
This is the original link of that image: http://res.cloudinary.com/demo/image/upload/fl_awebp/bored_animation.webp

[2016-12-19 11:55] Coobers commented on #65
This is procedure we used in company to "overcome" this bug.
Note that I did not fixed lack of size, just get around it (line in code might not correspond now):

[2016-12-25 22:25] #65 closed

[2016-12-27 09:09] netroy commented on #65
@Coobers @nullne released as 0.5.1

[2017-01-09 21:20] jeremymlane commented on #62
See: https://github.com/finalweb/image-worker

[2017-01-16 09:45] priyranjan87 commented on #54
`binding.read(fd, buffer, offset, length, position, req); `

node image-size error coming. This coming because image size is 0
I fixed tough below code

[code]

[2017-04-13 05:39] DharanBro opened #86 "image dimension from base64 image code"
Is there a way to get dimension from the base64 code directly instead of file?

[2017-04-13 06:16] LinusU commented on #86
You can give it a `Buffer` and you can create a buffer from base64 encoded data like so: `Buffer.from('SGVsbG8sIFdvcmxkIQ==', 'base64')`

[2017-04-13 06:25] #86 closed

[2017-05-06 18:38] johnfmorton opened #87 "guetzli support?"
Image-size is throwing an error (well, crashing on me) when I try to get the image size of a JPEG made with Google's guetzli compressor. https://github.com/google/guetzli. So far, I can't tell if this is simply this image or all guetzli processed images.

[2017-05-09 10:58] netroy commented on #87
@johnfmorton thanks for reporting the issue.. this will be fixed in the next release

[2017-05-09 11:02] #87 closed

[2017-05-09 11:04] netroy commented on #77
sorry.. your changes were published in 0.5.1

[2017-05-09 11:04] #77 closed

[2017-05-11 14:22] #47 closed

[2017-05-11 14:23] netroy commented on #47
sorry for being almost 2 years late.. fix is published as `0.5.3`

[2017-05-13 17:26] anhreg commented on #73
After hours debug, checking the image-resize code and googling around. I found this possibly is the reason:

The server may not support chunk download. Nodejs doesn't recognize this and thinks that the downloading has finished normally, then it triggers the .on('end') event. Thus, the buffer you get is only a few bytes. It doesn't meets the requirement that the jpg TypeMap needs (4096). It will co

[2017-05-15 09:41] netroy commented on #73
I downloaded the files locally, the ran `image-size` against them, & got the correct dimensions .. So, it's possible that @anhreg said applied to @digitalmc as well..

[2017-05-15 09:41] #73 closed

[2017-05-19 18:49] charliesneath commented on #81
Having the same issue. @netroy it seems like the script is looking for the `type` folder in the wrong place (but the `types` folder does exist).

[2017-05-19 19:02] zeke commented on #81
Can you share the following:

- your version of image-size
- your code
- your bmp file

[2017-05-19 19:11] charliesneath commented on #81
Version: 0.5.4 (installed today).

I'm using it in the context of Framer.js

[code]

I haven't been able to use the code yet as the error is happening on load.

[2017-05-19 19:16] charliesneath commented on #81
I'm not sure if this is helpful, but looking at the build folder structure, I don't see the `types` folder:

![image](https://cloud.githubusercontent.com/assets/606854/26263272/1c6912ba-3ca6-11e7-9893-5edc04eaf1e4.png)

[2017-05-19 20:46] zeke commented on #81
Strange. I can see it:

[code]

What happens if you `rm -rf node_modules && npm i image-size` ?

[2017-05-19 21:38] charliesneath commented on #81
No change. I can see the entire directory you've pasted above on disk, but it seems like it's not being included in the node environment that Framer is creating.

That screenshot I took is from Framer's inspector — is there any reason why this wouldn't include some folders?

I made a sample repo that can reproduce the error. Understand that you might not be familiar with Framer (https://framer.com

[2017-06-12 14:15] AMorgaut commented on #82
I wrote a first implementation on my fork

I expect to send a pull-request once I'll have added few tests to get full coverage

Any feedback on the implementation choices is welcome before I send it

The @puzrin question is very valid as depending of the situation, the user might expect to get either:

* the dimensions of the first image
* the dimensions of the last image
* the dimensions of the s

[2017-06-13 15:15] AMorgaut commented on #82
I just created the promised pull-request
I added cli support for the multi-size images

[2017-06-26 15:26] AMorgaut commented on #82
The pull request has been merged and the feature has been published on npm

I think the issue can now be closed ;-)

[2017-06-26 15:31] #82 closed

[2017-07-06 05:14] TinlerLin opened #92 "TypeError"
open a normal jpg image, got the error "Invalid JPG, marker table corrupted"

[2017-07-06 06:19] shinnn commented on #92
That's an expected behavior. https://github.com/image-size/image-size/blob/86691cf1d19ca4ac0716bb3579f7667bbac97532/lib/types/jpg.js#L25-L28

[2017-07-06 06:19] #92 closed

[2017-07-06 07:34] Kikobeats commented on #61
unnecessary at node 8:

[code]

[2017-07-06 07:40] shinnn commented on #81
This is a bug in Meteor. Extension-less `require` is a valid syntax in Node.js and Meteor should support it.

[2017-07-06 07:40] #81 closed

[2017-07-06 07:58] #61 closed

[2017-07-08 08:29] artscoop commented on #76
Unfortunately, `jhead` is not lossless. It is currently trimming a side of a picture I'm unit-testing.

[2017-07-11 01:25] awerlang commented on #62
With rollup, it's possible to mock node modules likes this:

rollup-config.js
[code]

empty.js
[code]

The problem then is #39

[2017-07-18 11:06] dxcqcv opened #93 "Corrupt JPG, exceeded buffer limits on 0.6.0 version"
When I uploaded specify image I got this error on 0.6.0 version, [image like this](https://www.dropbox.com/s/jwmwmi7trlagv8x/dsf.jpg?dl=0)

the error info is

[code]

[2017-07-19 09:25] AMorgaut commented on #61
well

first I think that it would at least worth an update in the readme to be more user-friendly

then, an helper such as

[code]

returning a promisified version of the function

It would not cost nor break anything

I can volunteer to push this micro feature

[2017-07-19 12:53] netroy commented on #61
I added usage with [promises](https://github.com/image-size/image-size#using-promises-node-8x) & [async/await](https://github.com/image-size/image-size#asyncawait-typescript--es7) in the readme now

[2017-07-19 12:54] netroy commented on #93
I have bumped up the buffer size in 0.6.1.. that sorta fixes the issue.

[2017-07-19 12:54] #93 closed

[2017-07-19 12:58] netroy opened #94 "Switch to streams, instead of using fixed-size buffer"
Current implementation uses a fixed length buffer, that causes issues with some JPEGs .. we should switch over to streams.. That'll also make detecting image-size on streaming requests a lot easier.

[2017-07-19 12:59] netroy commented on #70
I've temporarily increased the buffer size.. that should fix the issue for most users..
I'm gonna [rework the code to use streams instead of a fixed length buffer](https://github.com/image-size/image-size/issues/94).

[2017-07-19 12:59] #70 closed

[2017-07-19 15:13] AMorgaut commented on #61
Just Cosmetic Notes ;-)

[code]

* the curly brackets are not mandatory for one only instruction
* might have use destructuring as well

ex:
[code]

destructuring could also be used in the Async example

[code]

[2017-07-21 02:43] TinlerLin commented on #92
Thanks for your replay.

At 2017-07-06 14:19:53, "Shinnosuke Watanabe" <notifications@github.com> wrote:

That's an expected behavior. https://github.com/image-size/image-size/blob/86691cf1d19ca4ac0716bb3579f7667bbac97532/lib/types/jpg.js#L25-L28

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-24 21:58] ccpandhare opened #95 "Support DataURLs"
I think `image-size` should support DataURLs too!

[2017-08-03 01:45] stone12379 opened #96 "TypeError: Corrupt JPG, exceeded buffer limits"
Maybe that's because the JPG is too big, but I would like to know how to avoid.
http://pan.baidu.com/s/1geSFOFT

[2017-08-03 12:25] netroy commented on #95
@ccpandhare you can convert data-uri to buffers
[code]

similar to #86

[2017-08-03 12:25] #95 closed

[2017-08-27 04:51] sonyarianto opened #97 "is image URL with HTTPS supported?"
I got this when try to detect image size URL with https
[code]

[2017-08-28 08:20] netroy commented on #97
@sonyarianto if you are using [the example from the readme](https://github.com/image-size/image-size#using-a-url), please change `var http = require('http')` to `var https = require('https')` instead.

alternatively you can [parse the url with `url.parse`](https://nodejs.org/docs/latest/api/url.html#url_url_parse_urlstring_parsequerystring_slashesdenotehost), & pick between `http` & `https` based

[2017-08-28 08:20] #97 closed

[2017-08-31 02:40] jgilligan113 commented on #37
@kbradl16 This 100% was the case for me too
THANK YOU!

[2017-09-02 11:24] sonyarianto commented on #97
@netroy thanks and better mention it on the readme as well :)

[2017-09-11 09:30] fajardm commented on #37
me too

[2017-10-13 00:22] mrkvon opened #99 "Asynchronous version is not fully asynchronous"
When running async version of this library in node v4.0+ with `--trace-sync-io` we get `WARNING: Detected use of sync API`.

Specifically `fs.fstatSync` in [./lib/index.js#L41](/image-size/image-size/blob/master/lib/index.js#L41)

If running on production server, it might lead to reduced performance.
May be trivial to replace with the asynchronous version `fs.fstat`?

[2017-10-15 20:36] LinusU commented on #99
Seems to me like it would be even better to just skip the stat-call altogether, and just look at the return value from the read-call...

[2017-10-17 14:47] stephen-last commented on #96
I have the same issue:

I need to be able to work with large images.

How can I increase the buffer limits..?

[2017-11-01 15:35] #99 closed

[2017-11-16 08:40] dungvt opened #103 "Tiff doesn't support buffer"
Hi all,
I can see some previous issue, and i know, tiff image was suppot from buffer.
But, to day, i get error, that say: "Tiff doesn't support buffer" when try to get dimenstion of a tiff image.
I'm using newest version (0.6.1) from npm.
My code:
`var dimensions = sizeOf(response.Body);
console.log(`dimensions: ${JSON.stringify(dimensions)}`)`
What is wrong in here?
Can you help me on this case?

[2017-12-13 15:46] danielweck commented on #39
Indeed, Browserify (which ; by the way ; is not only used for client-side bundling, but can also be used to package server-side code, e.g. in Electron) fails to fulfill the dynamic `require()` calls, for instance:
https://github.com/image-size/image-size/blob/a71d6372c95e79efa0b349153a8525381aab0e5c/lib/index.js#L9-L14
(from the `types` list defined at https://github.com/image-size/image-size/blob

[2017-12-15 08:40] eiwi1101 commented on #39
@danielweck Thanks for the fork! The dynamic requires are a little too much magic for Browserify et. al.

Do you have an open PR for your fork to start that discussion with the maintainers?

[2017-12-15 11:19] danielweck commented on #39
My fork currently contains a quick-and-dirty patch, not a PR-ready contribution. My naive fix effectively makes the hard-coded list of types ( https://github.com/image-size/image-size/blob/master/lib/types.js ) useless. A clean fix would probably (at least) check that this list is consistent with the non-dynamic requires, or remove the list altogether.

[2017-12-15 11:37] eiwi1101 commented on #39
Yeah, after my comment I took a peek at the open PRs on the main repo and found #98, which seems to be a pretty solid fix. Last activity there was September, Here's hoping it goes in soon-ish.

[2017-12-15 11:38] danielweck commented on #39
Oh great, thank for spotting this :)

[2017-12-16 11:33] #39 closed

[2017-12-16 11:36] netroy commented on #39
fixed in #105 & released as `0.6.2`

[2017-12-16 11:38] netroy commented on #62
#39 is fixed.
I'd recommend using [@awerlang 's solution](https://github.com/image-size/image-size/issues/62#issuecomment-314295908) for browser support.

[2017-12-16 11:38] #62 closed

[2018-01-09 18:52] nypinstripes commented on #78
@jlongie according to https://stackoverflow.com/questions/33692835/is-the-mime-type-image-jpg-the-same-as-image-jpeg , ```image/jpeg``` is the proper mime for jpgs. I'd imagine they're deriving the field from the file extensions.

[2018-03-26 07:43] abdulrahman-khankan opened #106 "RangeError [ERR_INDEX_OUT_OF_RANGE]"
[code]

Hi, I have a batch job where I fetch the size of 20k images, and I found this in the logs about 10 times. Could this exception be related to `image-size` package? Or do you believe it's more likely that something wrong with the image at the time?

Thanks.

[2018-03-26 09:18] netroy commented on #106
@abdulrahman-khankan looks like you might have some bad images in the batch.
The error occurs when the [library tries to read the first 2 bytes](https://github.com/image-size/image-size/blob/master/lib/types/cur.js#L7) for these images.
If you debug, & find this to be an issue with the library instead, please feel free to comment here.
I'll close the issue.

[2018-03-26 09:18] #106 closed

[2018-03-26 09:27] netroy opened #107 "Create typings for Typescript & Flow"

[2018-04-01 15:09] MarcGodard opened #108 "Feature Request: URI image data"

[2018-04-01 15:39] netroy commented on #108
@MarcGodard this library supports buffers.
If you have a data-uri, you can create a buffer object from it, using `Buffer.from`

example:
[code]

[2018-04-01 15:39] #108 closed

[2018-04-01 22:54] MarcGodard commented on #108
Oh nice, sorry I missed that.

[2018-04-20 07:48] onlytropics commented on #96
I just encountered it, too. I can give you an example image, if needed. In my case the image is 2362x2362 pixels, so not too big really, and can be read just fine by any image editor I have.

[2018-05-08 08:54] alexahdp commented on #96
Is there any decision for this problem?

[2018-06-13 10:33] netroy opened #114 "Migrate to `Buffer.from`/`Buffer.alloc`"
https://nodejs.org/en/docs/guides/buffer-constructor-deprecation/

[2018-06-13 10:34] netroy opened #115 "Migrate CI setup to CircleCI 2.0"
https://circleci.com/docs/2.0/migration/

[2018-07-13 12:40] AshtonRoute commented on #94
Hey, guys. If you're interested I've made a module [here](https://github.com/AshtonRoute/image-size-stream)

[2018-07-16 10:07] netroy commented on #94
@AshtonRoute that looks pretty good. I'll look into it, as soon as I get some time.
Thanks & Cheers

[2018-07-19 11:02] mmoczulski commented on #96
Luckily, I found an easy workaround for that problem. Instead of putting the file path to the function, put buffer with already loaded file.

For instance:

[code]

[2018-08-10 19:38] Anaphase commented on #37
@Gatunox use https://github.com/nodeca/probe-image-size instead

[2018-09-24 00:47] Neijin commented on #103
Same here !

[2018-10-01 09:04] netroy opened #124 "Add support for KTX image format"
it was pointed to me that adding support for [KTX](https://www.khronos.org/opengles/sdk/tools/KTX/file_format_spec/#1) would be simple.
So, I'm creating this ticket to track progress.

[2018-10-01 09:19] netroy opened #125 "Add support for MPEG-H/HEIF image format"
[More information](https://mpeg.chiariglione.org/standards/mpeg-4/iso-base-media-file-format)

[2018-10-01 09:23] netroy opened #126 "Add support for EPS files"

[2018-10-05 12:43] ZaneHannanAU commented on #126
I'm presuming this will use the `%%BoundingBox`, similar to SVGs' `viewBox` mode?

[2018-10-05 13:18] ZaneHannanAU commented on #126
Added one that sort of works: https://gitlab.com/zeen3/async-image-size/blob/master/src/eps.ts

[2018-10-05 18:13] netroy commented on #124
@ZaneHannanAU nice :)
I've been meaning to convert the code to typescript as well.
would you like to send a PR after that?

[2018-10-05 23:32] ZaneHannanAU commented on #124
I would; the main issue is that it would break a lot.

Also I've done zero actual testing so ... yeah.

[2018-11-14 12:01] netroy commented on #115
disabling CircleCI until this is done.
Our current setup does not for various node versions, like our travis setup

[2018-11-14 12:05] #114 closed

[2018-11-26 16:48] phawxby opened #132 "Buffer with callback doesn't work"
The codepath for input strings allows for the callback to be invoked.
https://github.com/image-size/image-size/blob/master/lib/index.js#L118

But the codepath for buffers does not, it's always a return breaking the promise.
https://github.com/image-size/image-size/blob/master/lib/index.js#L96

[2018-11-28 14:53] netroy commented on #132
@phawxby operating on a buffer, in this case, isn't an async operation.
Can you please share more info on how this is being used in an async way?

[2018-11-28 17:03] phawxby commented on #132
[code]

I've fixed it for now by not promisifying `sizeOf` but it is breaking the terms of the callback/promise if there is a codepath which can result in it not being invoked.

[2018-12-05 13:29] johsmic commented on #96
I get this error when the jpg-image uses CMYK color model.

[2018-12-12 13:42] c060604 commented on #103
I use a `dng` file, it also throw out the same error.

[2018-12-12 14:00] netroy opened #136 "Add support for RAW image format(s)"

[2018-12-12 14:00] netroy commented on #103
@c060604 `dng` are raw files. I've created a separate issue for that #136

[2019-01-08 10:50] TimBeyer opened #139 "Publish newest release"
The fixes that are in master solve some issues with very long running regular expression checks when trying to determine the size of certain SVG files.
Would it be possible to publish those changes to npm so we can start using them?

[2019-01-08 11:06] netroy commented on #139
published as `0.7.0`.
Thanks for the reminder. Cheers

[2019-01-08 11:06] #139 closed

[2019-01-08 11:41] netroy opened #140 "Add support for extracting certain EXIF tags"
For information like `orientation`, on JPEG & TIFF files.

[2019-01-08 11:48] netroy opened #142 "Should we remove sync/async APIs, & Offer only a single API that returns a Promise?"
This might help with avoiding issues like #132

[2019-01-22 23:43] wtgtybhertgeghgtwtg commented on #142
While it'd be nice to remove the callbacks for a Promise API, I think taking out the synchronous API would be a bad move.  If they already have the image in a Buffer, there's no reason to be asynchronous.  What you could do to avoid the linked problem is to make the interface a bit more explicit
[code]
Alternatively, you could limit the scope of the project to just the synchronous method and make

[2019-01-23 16:34] #115 closed

[2019-02-25 09:47] AMorgaut commented on #142
Moving to v1.0 is clearly a big step :-)

As it is a major version, breaking some legacy API compatibility is technically allowed by semver but does it worth giving pain in the a... ?

I would not remove the **sync** version for now

A wide usage of not is also for writing cli tools for which it is often handy (even if not optimized) to be able to call the APIs synchronously (some grunt plugins ar

[2019-02-26 21:28] udany opened #160 "Simple jsDoc fix"
For the main function instead of having
[code]

Make sure it declares the callback as optional
[code]

Its totally a minor thing, but my IDE keeps warning me about not passing the second argument hahah

PS: thanks for the lib, great job!

[2019-03-21 22:58] budgidiere opened #169 "Module not found: Can't resolve 'fs'"
I get Module not found: `Can't resolve 'fs' in '(wheremycodeis)\node_modules\image-size\types'` whenever I try to use image-size. I have tried `npm i fs --save` but that did not work.

[2019-03-25 09:16] AlbertoFardin commented on #169
same issue

[2019-03-26 09:45] netroy commented on #169
@budgidiere can you share more information?
* where was this code running?
* what file (or buffer) you received this error on?

[2019-03-26 09:50] pldg opened #170 "Add support for JPEG 2000 and JPEG XR"
Is it possibile to add support for [JPEG 2000](https://en.wikipedia.org/wiki/JPEG_2000) and [JPEG XR](https://en.wikipedia.org/wiki/JPEG_XR)? Thanks!

[2019-03-27 17:39] netroy commented on #169
@budgidiere ping

@AlbertoFardin do you see this error in a frontend application? are you using babel, or webpack?

[2019-03-28 00:05] dbrnz opened #172 "Inches are a valid unit for SVG dimensions"
Although PR #116 allowed for SVG dimensions to have units, it doesn't include inches. For completeness, shouldn't `in` be defined as 96 pixels??

[2019-03-28 00:09] dbrnz opened #173 "Raise an error if SVG units are unknown"
Following on from #172, instead of silently treating unknown SVG units as pixels would it not be better to throw an exception?? This would mean having `px` as a valid unit, with a size of 1 pixel.

[2019-03-31 11:29] budgidiere commented on #169
@netroy I just fixed it I had to add
node: {
  fs: 'empty'
}
To my webpack config.

[2019-03-31 11:29] #169 closed

[2019-04-04 13:25] BrendanFDMoore commented on #132
Personally I'd prefer a consistent `await`-able function, but I can see the value in supporting non-async Buffers as an option.

Could the promisify be handled internally? ie, always return a Promise, but if a Buffer is detected, do the processing in the initial Promise setup before returning, then just resolve with the value immediately.

[2019-04-12 10:02] gabor opened #177 "detecting image-type and dimensions, recommended approach"
i need to get the width/height/image_type of a Buffer. this module works great for this, because the returned structure does have a `type` attribute that i can use. but it is not documented in the README, so i'm a little worried about using it.
could you please document it in the README?

or, if it's not recommended to use the `.type` attribute, what alternative approach do you recommend?

(i foun

[2019-04-19 03:43] Dog-leash opened #181 "The value of "offset" is out of range. It must be >= 0 and <= 4. Received 14"
hello, when i use image-size to get this image's width and height 'http://pgdt.gtimg.cn/gdt/0/EAAjrNfAMgAIRAAAOAQBcGwk_AZQKm-I8.jpg/0'.
i always get the same error. May i ask the error is caused by the image(is it bad?) or the image-size library?
![error](https://user-images.githubusercontent.com/15243547/56404180-cc60f200-6297-11e9-843d-80d83a614eae.png)
Thanks u~

[2019-04-23 11:44] netroy commented on #181
This looks like a regression from #150.
Thanks for opening the PR

[2019-04-23 12:20] #181 closed

[2019-04-23 12:23] netroy commented on #181
fix published in `v0.7.4`

[2019-05-17 05:45] paulcowles commented on #76
The library does return orientation code for jpegs. You can use it to flip height/width [if necessary](https://github.com/recurser/exif-orientation-examples). Yes, it would be nice if this was automatically done, but you can do it in the callback.

[2019-08-20 13:33] PizzaPartyInc opened #198 "RangeError [ERR_BUFFER_OUT_OF_BOUNDS]: Attempt to write outside buffer bounds"
Hi,

I'm getting an error when trying to get dimensions of a specific image.

Version: 0.7.4

Stack trace:
`RangeError [ERR_BUFFER_OUT_OF_BOUNDS]: Attempt to write outside buffer bounds
at boundsError (internal/buffer.js:71:11)
at Buffer.readUInt16LE (internal/buffer.js:230:5)
at readUInt (C:\PathToProject\node_modules\image-size\lib\readUInt.js:8:17)
at extractOrientation (C:\PathToProject\node_m

[2019-08-21 12:50] beliayeu commented on #198
the same issue is on my side
per my understanding that is a known issue https://github.com/image-size/image-size/issues/94
as a workaround an alternative library like probe-image-size can be taken

[2019-09-10 15:32] doronAtuar opened #202 "Closing files - leak"
When I run this code
[code]
It prints
[code]

How do I close the file?

This problem doesn't happen when using the Synchronous method

[code]

[code]

Version: 0.7.4
node: v10.16.3
Ubuntu: 18

[2019-09-11 10:33] netroy commented on #202
thanks for the issue. I'll look into it.

[2019-09-11 11:16] netroy commented on #202
@doronAtuar this is happening because in async mode, your code executes for all in parallel. this causes a really large number of open file descriptor.

I'm assuming you have a really high ulimit value set. otherwise you'd have got `EMFILE: too many open files` instead.
This does not happen in sync mode because that code only has one file descriptor open at any time.

I suppose adding a queue for

[2019-09-11 11:21] netroy opened #203 "Queue async operations"
currently it's possible to exhaust file descriptors with this code.

Following should be done to fix the issue
- [ ] add a queue for `fs` operations
- [ ] allow setting max concurrent invocations

fixes #202

[2019-09-11 11:21] doronAtuar commented on #202
Hey, Thanks for the quick response
That is true,
[code]
I am iterating over 2000000 images when this happens

Using the sync method degraded the execution drastically

[2019-09-12 06:33] doronAtuar commented on #202
Yes, That would be very helpful

[2019-09-14 03:51] mnpenner commented on #198
Yep. Getting this too:

[code]

[2019-09-14 23:46] #198 closed

[2019-09-14 23:52] netroy commented on #198
@PizzaPartyInc the issue you are facing, has been fixed. it's released as `v0.7.5`

[2019-09-14 23:52] netroy commented on #198
@beliayeu the proposal to switch to streams is to fix a completely different issue around large JPEGs. If you got a `ERR_BUFFER_OUT_OF_BOUNDS` error, can you please share with the entire stacktrace, & the image (if possible)

[2019-09-14 23:54] netroy commented on #198
@mnpenner from the stacktrace you posted, it sounds like that the image in question was invalid.
would it be possible to share the image with me?

[2019-09-16 16:21] #160 closed

[2019-09-17 11:34] #203 closed

[2019-09-17 11:41] netroy commented on #202
@doronAtuar I've added a queue with a default concurrency of 100. You can read more in the Readme.
Now your test code doesn't crash anymore.
However there still seems to be some string concatenation leaks in the nodejs itself.
A few of them got fixed between node 8 & node 12. but, there is still a leak of about 73MB for every 100k operations.

I'm gonna leave this at it is for now, & keep this tic

[2019-09-17 11:51] doronAtuar commented on #202
Thank you very much for taking the time to solve this!
I will have a look in the next few days.

On Tue, 17 Sep 2019, 14:41 करतोफ्फेलस्क्रिप्ट™, <notifications@github.com>
wrote:

[2019-09-17 13:27] netroy commented on #107
typescript code merged in master.
won't be supporting flow, unless there is a large demand for it.

[2019-09-17 13:27] #107 closed

[2019-09-17 18:23] #124 closed

[2019-09-19 05:56] wq409813230 opened #212 "the java implementation of this project"
this the java implementation of this project;
https://github.com/wq409813230/image-size

[2019-09-19 08:35] netroy commented on #212
super cool. thanks for doing this.
I'll list it in the readme soon.

[2019-09-19 08:35] #212 closed

[2019-09-25 06:36] swftvsn opened #218 "Typescript interface is wrong"
For an example in ico.ts if I add types, one can see that the return value does not conform to ISizes:

[code]

Either the ISIzes type is wrong or the return value is wrong. Which one is it?

ISizes is currently declared like
[code]

But all the functions that I've seen actually return
[code]
Where the height and width are from the first image. So, you could probably declare the return value as:
[

[2019-09-25 06:52] swftvsn commented on #218
Added PR #219 to fix this.

[2019-09-25 06:59] swftvsn commented on #218
@netroy Can you please review the changes, merge the PR + release a new version? Thank you!

[2019-09-30 10:46] #218 closed

[2019-09-30 10:50] netroy commented on #218
@swftvsn published as `0.8.3`

[2019-10-02 16:23] antoinerousseau opened #225 "Update docs for default import"
When first reading the doc, I did
[code]
But my IDE complained that there isn't any default export.
In fact, in `index.js` there is a line that makes it work:
[code]
But it's a compatibility code and it's not referenced in the typings, so the doc should be updated accordingly like this:
[code]
Or with `require`:
[code]

[2019-10-09 15:10] gstamac opened #228 "Should export all public types"
Currently only functions and some consts are exported in type definition. But all types that are used in this functions as parameters or results should be exported too. As far as I can see  `ISizeCalculationResult` and `CallbackFn` are missing but there might be others.

[2019-11-01 01:09] kevinhimawan opened #240 "Error: getaddrinfo ENOTFOUND"
Hello i am using synchronous method because i only can use URL then convert to BUFFER

However sometimes get weird error when process multiple images (eg. above 50 images)
<img width="629" alt="Screenshot 2019-11-01 at 8 16 18 AM" src="https://user-images.githubusercontent.com/33747932/67995989-e8e6d980-fc7f-11e9-9af9-059626a0c2d7.png">

This is my helper function:
<img width="405" alt="Screenshot

[2019-11-01 01:10] kevinhimawan commented on #240
`activities.reduce((accPromise, activity, index) => {
      return accPromise.then(async () => {
        await timeOut()
        let files = await Promise.all(activity.files.map(async file => {
          let result;
          try {
            result = await decodeSizeImageURL(file.url)
            !result ? result = { width: 0, height: 0 } : null
          } catch (e) {

            result = { wi

[2019-11-02 11:10] netroy commented on #240
@kevinhimawan the issue seems unrelated to this library.
from the looks of it, it seems your dns resolution is timing out, possibly because the dns resolver is overwhelmed by the number of dns requests.

depending on where this code is running, it might make sense to run a local dns resolver like dnsmasq.

I'll close this ticket, because it's not relevant to this repo.
But, if you need more info o

[2019-11-02 11:10] #240 closed

[2019-11-02 11:16] netroy commented on #240
Also, can you please check if the urls are always `https`, & never `http`

[2019-11-02 13:35] kevinhimawan commented on #240
Hello thank you for your reply. I am using Google Cloud Bucket for storing
our images

Do you have any idea how to handle this?

Thank you

On Sat, Nov 2, 2019, 6:16 PM करतोफ्फेलस्क्रिप्ट™ <notifications@github.com>
wrote:

[2019-11-02 21:52] netroy commented on #240
Hey, I meant to ask, in what environment is the nodejs code running?

[2019-11-04 14:38] ravo10 opened #241 "Error trying to get the dimensions of an .jpeg image from a buffer"
https://github.com/image-size/image-size/blob/175bca5d57ceb024ecd307f7a1d70e03fafec205/lib/detector.ts#L5-L17

This constant doesn't include .jpeg (0x41), and doesn't want to work with a buffer from a downloaded .jpeg image... Gives the error: `unsupported file type: undefined (file: undefined)(...)`. The buffer was a buffer, and not undefined.

I also see it is missing some other file types.

**E

[2019-11-04 21:23] netroy commented on #241
@ravo10 would it be possible for you to share this image?
If can debug this, I can try to get a fix out.

[2019-11-05 14:30] ravo10 commented on #241
Yes, of course. I forgot to mention that these pictures are converted from TIF to JPEG here: https://convertio.co/jpeg-converter/ and then compressed using Microsoft Paint... I included the .tif and .jpeg. Will try later today to probably just convert it to JPG, and try with that.

https://send.firefox.com/download/383ae0a1b57e69e4/#_N8jxhq1XQEtExs9IVQWmg (this is valid for one download, tell me i

[2019-11-05 16:20] netroy commented on #241
@ravo10 i don't get any errors on any of the 4 images from this zip file.
can you send me a file that most definitely is throwing this error?

[2019-11-05 17:49] ravo10 commented on #241
Sorry for wasting your time. I am not sure why I am getting errors... Those .jpeg-pictures are the only one I've tried, and won't work for me. As said, I am using a buffer recived from a download-URL. I am using Google Cloud Storage. I can give you the snippet of code I am using server side with Node.JS 8 (Google Firebase Functions) to try and get the dimensions. (I also get error when trying to u

[2019-11-09 17:10] emmtte opened #247 "HEIC Files"
Do you know if this repo support HEIC photo file

[2019-11-09 18:33] netroy commented on #247
Hey @ManuCart,
HEIC containers aren't supported yet.
as there hasn't been any demand for it so far.

If you have some time to add support, give it a shot.
If not, I can try sometime next week to start with it.

Cheers :)

[2019-11-10 11:05] ManuCart commented on #247
I don't have the background to do this.
I will wait. Thanks for your help

[2019-11-16 16:53] ravo10 commented on #241
@netroy I want to report back. I tried again with a URL (didn't need a buffer...) from local tmp. storage, and that worked for me atleast it seems !

[2019-12-05 07:47] danielrentz opened #257 "README does not reflect 0.8.0 code refresh"
Since 0.8.0, the module exports named functions instead of a top-level function. In the README, the old state is still documented.

[2019-12-08 13:22] yossisp opened #258 "Why is it ok to stop downloading JPEG image only after a few KB?"
According to the [example](https://github.com/image-size/image-size#using-a-url) it's ok to download only a few KB in order to get image size/dimensions. But according to this stackoverflow [answer](https://stackoverflow.com/questions/18264357/how-to-get-the-width-height-of-jpeg-file-without-using-library) the in order to get JPEG width/height:

`You have to scan through the JPEG file, parsing eac

[2019-12-11 22:30] maxhawkins opened #260 "ERR_BUFFER_OUT_OF_BOUNDS while parsing png (windows, linux subsystem)"
Running `imageSize` on the attached png throws an out of bounds exeption while using Linux on Windows. The package works fine for other png and jpg files. The package works fine parsing the same file on macOS.

Error:
[code]

Image file:
![handset_icon@3x](https://user-images.githubusercontent.com/28565/70665726-0c5b5780-1c22-11ea-8829-d4f37d6eacae.png)

System:
**OS:** Ubuntu 18.04 bionic [Ubuntu

[2019-12-14 12:38] emps opened #261 "latest version warnings"
using latest version throwing errs

ExperimentalWarning: The fs.promises API is experimental

please change it using util.promisify on fs dont use experimentals for production thanks

[2019-12-18 18:50] netroy commented on #260
@maxhawkins
This looks like it could be an issue in nodejs on WSL.
Since I don't have access to such a setup,  would it be possible for you to debug this a bit for me?

I pushed a branch with some `console.log`, that might be able to help me confirm my suspicion that somehow reading from buffers is either destructive, or is moving an internal offset/pointer.

If possible, can you please make these

[2020-01-02 15:57] tjnk24 opened #269 "fs.opensync is not a function"
Hi, I'm trying to use this module in a react app, and when I'm trying to get dimensions of a .jpg image, the app is crashing with an error:

![image](https://user-images.githubusercontent.com/17692402/71676397-3a4f3a00-2d91-11ea-9687-1b2b2b1d669a.png)

tried to remove "node_modules" folder and reinstall it again - this didn't help

[2020-01-05 21:52] #269 closed

[2020-02-05 20:25] jcald1 commented on #260
@netroy , I'm also getting your same error on Linux.  I tried your branch:

[code]

but I get the following error:

`Error: Cannot find module '/var/task/node_modules/image-size/dist/index.js'. Please verify that the package.json has a valid "main" entry`

[2020-02-05 22:43] netroy commented on #260
@jcald1 can you please go into the `/var/task/node_modules/image-size` folder, & run `yarn && tsc`?
Since this issue was created, the code has been converted to typescript. This module needs a precompilation step now.
after compiling the module, can you please try again?
if you don't manage to get it working, please let me know. I'll create an alpha release for testing.

[2020-02-05 22:46] netroy commented on #260
@jcald1 also, would it be possible to share the image that's causing this issue? it might help me reproduce the issue.

[2020-02-06 01:24] jcald1 commented on #260
@netroy ,

I compiled it and generated the following logs:

[code]

You can copy the image from here:

[code]

[2020-02-06 15:12] guillaumearm opened #280 "unsupported file type: undefined (file: undefined)"
Hi.

Yes, this error again 🤓

I used the documentation example with this (working) url: https://app-cdn.clickup.com/assets/favicons/apple-touch-icon.png

Something wrong with this png image ?

[code]

Tested with node v12.9.1 and `image-size@0.8.3`

[2020-02-07 10:16] netroy commented on #260
@jcald1 that looks like the library worked for you as expected.
are you able to reproduce the error `ERR_BUFFER_OUT_OF_BOUNDS` for png files?

[2020-02-07 23:12] jcald1 commented on #260
@netroy , I still got the error on that jpg file.

[2020-02-10 10:11] netroy commented on #260
@jcald1 I'm unable to reproduce this on Linux
[code]

I have access to a windows machine with WSL now. will try to reproduce this there.

[2020-03-01 21:46] SheetJSDev opened #286 "WMF (Windows MetaFile) support"
Spec: https://docs.microsoft.com/en-us/openspecs/windows_protocols/MS-WMF/4813e7fd-52d0-4f42-965f-228c8b7488d2

Sample implementation: https://github.com/SheetJS/js-wmf/blob/master/src/wmf.ts#L495

There's a [file header](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-wmf/d169108a-e3fe-436a-bb44-bea61a46ce56) with various requirements that can be used to test if a file is possibly

[2020-03-15 15:14] Guebbit opened #289 "It works, but "fs" dependancy even after installing "fs""
Hello I'm using nuxt 2.11.0 and I can't manage to use this module.
First, I had this error:

![error](https://user-images.githubusercontent.com/12038511/76703865-3b77de00-66d5-11ea-8f3a-855fbcd1114a.png)

After installing the module, it continues like this:

![error2](https://user-images.githubusercontent.com/12038511/76704118-1be1b500-66d7-11ea-9b0d-e269d45f0b2f.png)

Following some instructions,

[2020-03-26 17:37] tmathern commented on #261
This depends on the node version you use.
The experimental warning for fs.promises was removed in https://github.com/nodejs/node/pull/26581, which is v11.4.0 of node. If you can update your node version, you can move to a higher one. Otherwise, util.promisify would be the only way to go.

[2020-04-02 06:16] bluenote10 commented on #261
I'm running version 11.6.0 and get the warning.

[2020-04-10 21:33] SheetJSDev commented on #289
This is unavoidable as currently structured, the fix requires a deep change.

It looks like the TIFF parser needs to read some part near the end of the file, and the file utilities [do not necessarily read the entire file](https://github.com/image-size/image-size/blob/master/lib/index.ts#L520).  In the interest of expediency, the original authors just added `fs` as a dependency to TIFF.

The neces

[2020-04-17 00:13] kPepis commented on #261
He missed a '1'. It's v11.14.0

[2020-04-22 00:51] joelnet opened #304 "add --json flag for CLI"
Add `--json` support for cli tooling.

[code]

output:

[code]

Pull Request --> #303

[2020-05-21 14:33] amitm02 commented on #260
I have the same issue on large images under docker container

[2020-05-28 03:19] archmoj opened #320 "Missing 0.9.x versions on npm"
The last version published to npm is `0.8.3`: https://www.npmjs.com/package/image-size

[2020-09-03 09:56] netroy commented on #320
published `0.9.1`

[2020-09-03 09:56] #320 closed

[2020-09-29 05:53] graup opened #341 "Asynchronous with Buffer"
Why is that?

What's the recommended way to use this in the browser with a buffer?

I want to use this with a slice from a file blob selected in a file upload form.
Something like this:
[code]

[2020-09-29 06:06] graup commented on #341
Never mind, this actually does work. I can just handle async myself by making this function async.

[code]

[2020-09-29 06:06] #341 closed

[2020-09-30 08:30] terminatorheart commented on #37
i have the same problem too, if jpg is CMYK mode(which first four bytes are  ffd8 ffe1), then image-size won't get right size

[2020-09-30 23:48] agrotech-cowboy commented on #280
Hi @guillaumearm,

Did you manage to solve? Same problem for any image of type `.png` 😞

[2020-10-16 22:45] akanshgulati commented on #280
@netroy Please help here. Even #241 Is related to this only. I think its coming after 12.14.0 version of node.

[2020-10-17 01:42] geogeim opened #342 "(node:19430) Warning: Closing file descriptor 63 on garbage collection"
I'm running a long lived process that periodically downloads some images from a cdn. Sometimes the cdn is flaky and truncates the responses or returns empty files. Then i get the following errors

[code]

I think the module is leaking file handles

[2020-10-19 11:52] netroy commented on #280
@guillaumearm looks like the image you mentioned is being served gzipped. this library does not handle decompressing gzip files.
you can either handle doing decompression yourself with `zlib`, or use a library that handles these things transparently.

Here is an example using `axios`:

[code]

[2020-10-19 11:53] #241 closed

[2020-10-19 11:54] netroy commented on #280
@akanshgulati #241 is a completely different issue. Can you try what I've suggested in the post above?

[2020-10-19 12:31] netroy commented on #342
@geogeim thanks for pointing this out.
This has been fixed in https://github.com/image-size/image-size/commit/62f48f6e5674b088ebe7b3d1829ab2d84480005f & released as `0.9.2`

[2020-10-19 12:31] #342 closed

[2020-10-19 12:35] netroy commented on #304
Thanks for doing this.
But sorry, I don't want to maintain features for every single user.

Don't get me wrong. Something like this can be very helpful as it's own package.
But, it doesn't need to be included in this repo.

PR: Please talk to project maintainers before creating feature PRs, as not wanting to merge someone's hard work leaves both of us disappointed.
I hope you understand.

[2020-10-19 12:35] #304 closed

[2020-10-19 12:41] #286 closed

[2020-10-19 12:48] #280 closed

[2020-10-30 11:14] codyng opened #345 "width and height are swapped for some iPhone photos"
I've tried to upload some photos taken with iPhone.

The returned width and height values are swapped after calling this package.
I think it may be the portrait or landscape issue.

Does anyone has this issue??

[2020-10-30 11:58] codyng commented on #345
Just find a solution.
We can find its orientation by using this library.

https://www.npmjs.com/package/@ginpei/exif-orientation

[code]

[2020-10-30 11:59] #345 closed

[2020-11-02 12:22] netroy commented on #345
@codyng this package also returns raw EXIF orientation value for jpegs.
you can see the test here https://github.com/image-size/image-size/blob/master/specs/valid.spec.ts#L87

if you need more info to map the raw values to more-readable angles, please let me know. I can document that in the readme.

[2020-11-02 12:30] #140 closed

[2020-11-02 12:50] netroy commented on #76
orientation support was added in `0.7.1` (Jan 2019), but I forgot to update this ticket.
Here is the commit that landed the change https://github.com/image-size/image-size/commit/93cb70f09c143542085297af52e7ebf9d9177fd8

based on the raw orientation value, it should be possible to swap the width & height values.
swapping the values in this library will make it backward in-compatible (unfortunately

[2020-11-02 12:50] #76 closed

[2020-11-09 21:22] cachila opened #348 "Avif support"
Hi,

Are you planning to support AVIF format? I would love to use the tool but I need that support.

Thanks

[2020-11-10 10:49] netroy commented on #247
duplicate of #125

[2020-11-10 10:49] #247 closed

[2020-11-10 10:53] netroy commented on #348
marking this as a duplicate of #125, as AVIF is HEIF files with AV1 compression instead of HEVC.
Since this module does not deal with actual pixel data, all HEIF formats will be supported when #125 is closed.

[2020-11-10 10:53] #348 closed

[2020-11-10 13:57] cachila commented on #125
Really looking forward to this enhancement.

Do you have an ETA?

[2020-11-10 14:18] netroy commented on #125
a large chunk of this work is investigating the HEIF container format & figuring out how to parse out the relevant "boxes". If you can find some definitive & concise documentation, it might help getting this done quicker.
What I'd need it, is clear docs on how these images are structured byte-by-byte, to be able to create a first version of the parser.

But, considering my current workload, I can'

[2020-11-16 14:57] phal0r commented on #94
@netroy
thanks for this lib. Any update on supporting streams? I would really like to use this for one of my projects.

[2020-12-08 17:11] PiQx opened #350 "Support avif format"
hello. Tell me whether support for avif format will be added?

[2020-12-09 09:59] netroy commented on #350
@PiQx this is a duplicate of https://github.com/image-size/image-size/issues/125
as I've pointed out in [a comment on that issue](https://github.com/image-size/image-size/issues/125#issuecomment-724731127), I currently do not have the time to investigate the HEIF container format.
If you (or someone else) can do that research for me, and provide me with some easy to understand documentation, I can

[2020-12-09 09:59] #350 closed

[2020-12-15 12:02] netroy commented on #202
This doesn't seem to happen anymore on the latest release on node 12+.
Marking this as done.

[2020-12-15 12:02] #202 closed

[2020-12-28 09:53] vpckso opened #351 "Cannot parse SVG width/height with exponent"
SVG:
[code]

Code:
[code]

Result:
`{ height: 2, width: 1, type: 'svg' }`

[2021-01-01 03:12] richard-stern opened #352 "Gets width and height mixed up on rotated camera photos"
When a photo is taken with a rotated camera, some cameras store the fact that the they were rotated in the image header rather than swapping the width and height. this library doesn't respect that flag.

This means you can have an image that displays as 1000x4000 and windows says it's 1000x4000 but this library reports it as 4000x1000.

I found that simply opening the image and re-saving it from p

[2021-01-02 23:50] netroy commented on #352
@richard-stern for jpegs, this library [returns an extra `orientation` field](https://github.com/image-size/image-size/blob/master/lib/types/interface.ts#L4), if it is defined in the EXIF metadata (which is almost always).
Looks like we never managed to get around to documenting it.

Let me know if you need any more information.
Also, if you have any suggestions for the documentation, contribution

[2021-01-07 00:52] #352 closed

[2021-02-12 01:41] joelnet commented on #304
Totally understand. Cheers 🍻

[2021-02-15 15:38] JonathanTreffler commented on #289
Is it possible to disable tiff support somehow ? These compilation errors mess up nuxt.js and it does not even attempt to compile the rest of my project.
Since i don't see a setting that allows me to disable tiff support, do i need to fork and remove tiff ?

[2021-02-24 13:47] netroy commented on #289
It's now possible to [disable file-system reads](https://github.com/image-size/image-size#disabling-all-file-system-reads), or to [disable certain image types](https://github.com/image-size/image-size#disabling-certain-image-types), as of version `0.9.4`.

But, these changes won't fix the issue with nuxj.js or any other tool that executes `image-size` in the browser, unless the code calling this l

[2021-02-24 13:47] #289 closed

[2021-02-24 13:50] netroy commented on #261
as `fs.promises` is stable now, I'm closing this.

[2021-02-24 13:50] #261 closed

[2021-02-24 13:51] netroy commented on #257
the module exports a named functions, as well as a top-level function now. closing this.
Thanks for reporting :+1:

[2021-02-24 13:51] #257 closed

[2021-02-24 13:54] netroy commented on #225
The module is now exported to work in all three ways.
Thanks for reporting this. cheers.

[2021-02-24 13:54] #225 closed

[2021-03-08 05:41] fregante opened #355 "Fails on lowercase `viewbox` property"
While technically not a full SVG, browsers can still read this, but it fails in `image-size`

[code]

[code]

Tested on https://npm.runkit.com/image-size

[2021-03-08 06:07] fregante commented on #258
They're both right. The answer doesn't say that you have to parse the entire file, _just until you find the segment._

Anyway, here's a full demo code that's working for me, Node 10+. You only need `getStreamImageSize`:

[code]

This is so fast that in my tests it works with the very first chunk.

[2021-03-08 06:08] fregante commented on #94
For anyone looking for a stream-based solution, get this function:

[code]

Here's a full example code that shows how to use it. Put it in a `demo.js` file and run it:

[code]

This is so fast that in my tests it works with the very first chunk.

[2021-03-08 09:36] phal0r commented on #94
@fregante
Nice solution with using async iterator. Meanwhile I was using a util, which uses a passthrough stream and does essentially the same. The only difference is, that there is a max buffersize (default 128kb) to prevent storing the whole binary image into memory in case of malformed header information or other cases, which could prevent proper detection.

[2021-03-08 16:53] fregante commented on #94
Should it stop after the buffer reaches 100kb? Feels like an easy addition in this case

[2021-03-09 04:19] mnpenner commented on #94
I would think so. Image size is usually pretty early in the file no? Ideally it would stop reading the stream as soon as it found it.

[2021-03-09 04:27] fregante commented on #94
The `getStreamImageSize` suggested above already does that. I was talking about a possible extra safety check.

[2021-03-09 04:30] mnpenner commented on #94
Oh, so it does. Didn't look closely enough. I imagine there's a better way than a try/catch on every chunk but that's not too bad.

[2021-03-09 04:33] fregante commented on #94
Indeed if `image-size` were to implement a non-throwing method to check the size it could be used in this scenario.

[2021-03-09 18:48] phal0r commented on #94
@fregante
With my solution it throws after 128kb are read and no information are found, yes. From my understanding only header information is relevant for detecting the image format, so it does not make much sense to buffer the whole image. If 128kb is enough - no idea. I took inspiration from another package and just refactored it a bit to more modern javascript.

I agree, that the try/catch bloc

[2021-03-10 09:21] #355 closed

[2021-03-12 12:52] JayBox325 commented on #269
What was the outcome from this ticket?

[2021-03-14 01:02] damiponce commented on #269
I'm facing the same issue on Next.js.
It only gives `TypeError: fs.openSync is not a function` when called outside of `getStaticProps` (an async function that runs at buildtime). Inside it, it works no problem.

[2021-03-15 12:14] netroy commented on #351
fixed in `v0.9.6`

[2021-03-15 12:14] #351 closed

[2021-03-15 12:23] netroy commented on #172
fixed in `v0.9.7`

[2021-03-15 12:23] #172 closed

[2021-03-15 12:23] #173 closed

[2021-03-15 12:26] netroy commented on #49
this is done

[2021-03-15 12:26] #49 closed

[2021-03-15 12:31] netroy commented on #260
unable to reproduce these

[2021-03-15 12:31] #260 closed

[2021-03-17 12:08] tiavina-mika commented on #260
I have the same issue when running multiple request with large image input at the same time.

My app is hosted to Google Cloud Plateform and the file saved to Google Storage

[2021-03-17 12:10] netroy commented on #260
@tiavina-mika can you share an image with us, that I could reproduce the issue with?
Also, can you share with us what version of the library you are using?

[2021-03-17 12:17] tiavina-mika commented on #260
https://storage.googleapis.com/montage-preprod-xxxxxx/montage-preprod-xxxxxx_favp88pkifn9.jpeg

[2021-03-17 12:45] netroy commented on #260
@tiavina-mika
I'm unable to reproduce this on the latest release of the library. I get `2500x1875` as expected.
Can you share more information about the environment you are seeing this error on?

[2021-03-25 02:01] fegvilela commented on #258
I was wondering if we need to buffer the image at all... Couldn't we get the image dimensions by using its metadata? On exif, for instance...
For example, I guess that OS doesn't read all images in order to get its size... I guess it does so by reading exif info

[2021-04-07 14:25] xiaozhuai opened #358 "JP2 Implementation error"
Recently, I wrote a cpp version of image-size, which is [xiaozhuai/imageinfo](https://github.com/xiaozhuai/imageinfo).
I got a lot of inspiration from `image-size`, and many thanks to your works.

I found some error in jp2 implementation. Hard to say, better show my code here.

JP2:

https://github.com/xiaozhuai/imageinfo/blob/430ab43c1eeaedd592bf190a60dfce43e58c4c96/imageinfo.hpp#L852-L893

JPX:

[2021-04-14 14:08] netroy commented on #358
Thanks @xiaozhuai. I'll look into it as soon as I can. :pray:

Btw, I noticed that you copied over all of the test images.
I'm glad that they provide value to you.
But, can you please add a note in the readme attributing the source of those images?
They all may look like just bunch of random generated noise files. But, I assure you they were enough work to deserve attribution.

I also saw that you

[2021-04-14 14:58] xiaozhuai commented on #358
@netroy Thanks! These test image files do help me a lot. I will add a note in readme and a link point to this repo.
For heic/heif, you just need find `ispe` box  : )

[2021-05-21 13:25] jimmywarting commented on #142
I like the idea of a [Onion Architecture](https://www.codeguru.com/csharp/csharp/cs_misc/designtechniques/understanding-onion-architecture.html)

The idea should be that it should have as little knowledge about a system environment as possible.
In the core it should not have any way of reading a file from the filesystem or the network - it should also not either use any specific NodeJS, Deno or Br

[2021-05-25 10:17] geogeim commented on #103
same issue here
i think the library is designed to work with partial data in buffer mode (i.e. get the size of the picture by reading a few bytes) which is not supported because the tiff code needs the size of the file. but in my case i know that my buffer is complete so it would be nice to find a way of working with tiff files without dropping them to disk. it would probably need to change the ap

[2021-05-27 08:24] netroy commented on #103
@geogeim it's the other way around. Tiff isn't supported when using the async api for files. but if you already have an entire tiff file in buffer, you can pass the buffer to `imageSize` function, and it'll work.
Dumping the buffer to disk is not going to help, as this library doesn't want to load entire files into buffer itself.
Loading full tiff files in a buffer, and passing that buffer, is the

[2021-06-01 12:40] geoidesic opened #365 "ES6 support?"
Can you include examples in the README of how to use this with the `import` ES6 modules syntax?
When I tried it I get this error:
[code]

[2021-06-01 13:18] netroy commented on #365
this already supports ES6 (for over 2 years now).
Just create a `test.mjs` file with
[code]
and it worked.

tried with typescript, and that worked as well.

please make sure that you are using the latest version of the module, and this is not an issue with vite itself.

[2021-06-08 07:48] netroy commented on #365
@geoidesic does this answer this question?

[2021-06-16 18:17] geoidesic commented on #365
No, it doesn't. I can't get this library to work. I tried via Yarn and with the example you show above and I get a different error:
[code]

[2021-06-16 18:24] netroy commented on #365
@geoidesic can you please share more info on where this code is running, what runtime, what version of the runtime, etc.
without being able to reproduce it, I wouldn't know what to fix.

[2021-06-16 18:26] geoidesic commented on #365
Sure.. this is running in a Sveltekit component.
Node v16.2.0
Yarn 1.22.10

[2021-06-16 18:29] geoidesic commented on #365
It could be a vite error... I know next to nothing about Vite.

[2021-08-04 08:12] netroy commented on #365
![Screenshot-20210804-100915](https://user-images.githubusercontent.com/196144/128145951-38793c6c-8c96-40a1-a7d8-336d9e29efdc.png)
`exports.default` is very clearly defined. this is most definitely an issue with Vite.

I'm not familiar with Vite, and it's unlikely that I'll have enough time anytime soon to learn enough about Vite to fix this issue, I'm gonna close this issue.
If someone more famil

[2021-08-04 08:12] #365 closed

[2021-11-03 05:43] wildansupernova commented on #103
hi @netroy , I already try using imageSize instead of getImageSize, the error still happen, is there any workaround for this?

[2021-11-03 11:15] netroy commented on #103
@wildansupernova can you please share the code with us?

[2021-11-03 12:06] wildansupernova commented on #103
thanks for replying @netroy

here the example repo https://github.com/wildansupernova/image-size-test-tiff-error , you can try the error

[2021-11-03 12:27] netroy commented on #103
@wildansupernova TIFF don't support streams or buffers (yet).
please try something this instead:
[code]

[2021-11-03 12:39] wildansupernova commented on #103
@netroy ok, thanks for the clarification

[2021-11-15 06:56] Amethystafyy282 commented on #269
Hi, did you manage to resolve this issue?

[2021-11-15 07:17] damiponce commented on #269
I'm pretty sure I did, but it was a while ago now, plus I was just starting to get a grip of GitHub issues and how to help with these kind of errors. So there's no way for me to go back and check the exact scenario. Sorry!

[2021-11-15 12:05] netroy commented on #269
This module only works on nodejs, and not in the browser.
Handling this in React would vary from codebase to codebase.

But to support it in Next.js, it would make sense to put all calls to this module behind a `if (typeof window === 'undefined)` check, as suggested often on Next.js repo (for example [here](https://github.com/vercel/next.js/issues/5354#issuecomment-520305040)).

[2021-11-15 12:10] Amethystafyy282 commented on #269
I'm manage to get rid of it by setting `disableFS`, but quick question, I cant use sizeOf from Reader.asDataURL but I can from Reader.AsArrayBuffer. Do u know why? Ty.

[2021-11-15 12:29] netroy commented on #269
I assume this is because `FileReader.readAsDataURL()` gives you a base64 encoded string, which is yet another input format not supported by this module. This module was designed around the `Buffer` interface.
So, `FileReader.readAsArrayBuffer()` or `Blob.arrayBuffer()`, which return an `ArrayBuffer` _might_ work.

I say "might" because I have never personally tested this, as I've only worked to su

[2021-11-15 12:35] Amethystafyy282 commented on #269
I'm testing it in node env, web worker for Nextjs for specific.
Ive tried to wrapped DataUrl into `Buffer.from()` but it didnt workout, too(it does for arrayBuffer).
Even 'Buffer.from(DataUrl, 'base64 or utf-8')`. Btw ty for your support.

[2021-11-15 12:52] netroy commented on #269
Since I'm not actively working with node.js or frontend, I don't even know where to start to fix these issues.
If something is broken, or if you'd like this module to support certain scenarios, please create a test repo on github with minimal setup, and let me know.
If I can reproduce it, I can try to fix it. Without a repo like that, I have no code-base to debug, validate, and fix these.

You are

[2022-02-22 12:19] danpetitt commented on #258
Exif is often much further into the image block; so you would end up downloading more of the image buffer than you need to

[2022-03-24 10:27] netroy commented on #125
@phal0r the key feature of this module is that it doesn't pull in any heavy dependencies.
That said, I've tried using libheif directly, and while it worked for heif/heic files, it failed for most avif files for me.

If someone were to implement heif container decoding without any external dependencies, I'd be more than happy to help.
I just haven't had the time (or focus) to do that myself.

[2022-03-30 06:27] phal0r commented on #125
@netroy I re-read the snippet I linked and I think detecting heic/heif images takes a raw buffer and treats the header as fixed size and just slices a fixed number of bytes at a fixed position to detect the format. it does not use libheif for detection.

[2022-03-30 09:20] netroy commented on #125
@phal0r yeah.
we've already had a valid detection code for 3 years now (not in `main` yet).
what we're blocked by is everything else.

![image](https://user-images.githubusercontent.com/196144/160797436-aae3c5d0-5295-44e5-b5b6-fd6dde57f2fe.png)

[2022-03-30 14:12] phal0r commented on #125
ok, right. by `everything else` you mean detection of the dimensions. I was only focussing on the type :D

[2022-04-08 00:42] AndrewKvalheim commented on #96
Is this the same as #34?

[2022-04-08 00:43] AndrewKvalheim commented on #37
Is this the same as #34?

[2022-05-19 16:52] phal0r commented on #125
Thanks for the suggestion. Looks like a pretty cool lib, but I need the image dimensions aswell.

[2022-06-22 09:28] wouterlemcke commented on #260
We're running on AWS ec2's (Node.js 14 running on 64bit Amazon Linux 2/5.5.3).
We use this lib to calculate the dimensions of images uploaded by users of our app, so it's a bit hard to give you some example images. It's really hard to reproduce this issues we noticed (we were not able to yet), but from our logs we see it happening quite often.

[2022-06-22 09:38] netroy commented on #260
@wouterlemcke can you please also share the exact version of node.js and the exact version of this lib that you are using ?

[2022-06-23 08:52] wouterlemcke commented on #260
The images are posted through forms and while processing stored in temp storage.
`const dimensions = sizeOf(fs.readFileSync(path))`

Where the path is the path to the file in temp storage. The files are also uploaded to s3 and this never fails and never results in corrupted images, so I'm pretty sure there's no issue with the files itself.

In our case it's mostly used for profile images, so I can

[2022-07-11 08:18] shezhangzhang opened #371 "Does this module support `TGA` image ?"
Does this module support `TGA` image ?
xxx.tga

[2022-07-12 14:41] netroy commented on #371
Fixed in https://github.com/image-size/image-size/pull/373
Available in `image-size@1.0.2`

[2022-07-13 18:26] yisibl opened #374 "SVG can't get the size if it doesn't have `width/height` or viewbox"
[code]

The actual size of this SVG is 100px * 50px

[2022-08-16 14:09] wouterlemcke commented on #260
We're upgrading to Node 16. We hope this will also magically solve this issue. I will keep you posted

[2022-08-22 06:50] wouterlemcke commented on #260
Unfortunately the Node upgrade did not solve the issue..

[2022-09-29 11:06] Shvan11 opened #376 "Is there a way to get the size of an array of images all at once?"

[2022-09-29 12:47] netroy commented on #376
Generally when opening an issue on any repo, please include as much information as possible, so that the people answering have to make the least amount of assumptions.

For now, I'm assuming that you have an array of file-paths, so you could do something like this:

[code]

When this is done `sizes` will be an array of [`ISize`](https://github.com/image-size/image-size/blob/main/lib/types/interfac

[2022-10-03 10:16] #376 closed

[2022-10-11 11:42] netroy opened #377 "Test issue"

[2022-10-11 11:42] #377 closed